/* 
 * Nocturnal community version
 */


/* Revert for discords new pop-out UI */

.profileBanner-1owKI5{
	height: 78px;
}
.avatarWrapper-eenWra{
	left: 82px;
}
.avatarPositionPremium-1zPBq9{
	top: 140px;
}

.popoutBanner-3cqRD9{
	display: none !important;
}
.avatarPositionNormal-2jWoC2{
	left: 82px !important;
}
.avatarPositionNormal-1CZUPk{
	top: 25px !important;
}
.headerTop-3GPUSF{
	text-align: center;
	border-bottom: none;
	padding: 124px 16px 1px;
}
.userPopout-3XzG_A .date-YN6TCS{
	text-align: center;
}
.customStatus-3XAoF9{
	text-align: center;
}
.userPopout-2j1gM4{
	width: 260px !important;
}
.profileBadges-2pItdR{
	max-width: 80px;
}

/* Blur for main pop-outs */
.backdrop-2ByYRN{
	backdrop-filter: blur(2.5px);
	background: rgba(0, 0, 0, 0.75) !important;
}
